@keyframes slideIn {
    0%{
        opacity: 0;
        transform: translateX(-80px);
    }
    70%{
        transform: translateX(25px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

/* menu navegação */

.container {
    background: #f9edd6;
}

.brandMark {
    color: #8d503c;
}

.brandMark hr {
    background: #8d503c;
}

.menu-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    z-index: 1;
    background: #fff;
    border-radius: 10px;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.menu-btn__burger {
    width: 60%;
    height: 3px;
    background: #8d503c;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 3px;
    background: #8d503c;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.menu-btn__burger::before {
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-12px);
}

.menu-btn__burger::after {
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px);
    transform: translateY(12px);  
}

.menu-btn.open .menu-btn__burger {
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-btn.open .menu-btn__burger::after {
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.pageList {
    opacity: 0;
    margin-top: 5.95em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: solid 5px #fff;
    background: #ce8e69f0;

    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    -webkit-transform:rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.pageList a {
    color: #fff;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 5px;
}

#check:checked ~ .pageList {
    opacity: 1;

    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    transform: rotateX(0);
}

.navMenuItens {
    opacity: 0;
    padding: 15px 0;
    width: 60%;
    text-align: center;
}

#check:checked ~ .pageList .navMenuItens {
    opacity: 1;
    animation: slideIn .7s ease-in-out forwards;
    animation-delay: .1s;
}

.navTitulo {
    font-size: 2em;
}

.navSubTitulo {
    font-size: .6em;
}

/* scetion banner */

.banner {
    height: 102vh;
    background-image: url("../images/chocolatcake1.jpg");
}

.quadroDeResumos {
    width: 100%;
}

.quadroDeResumos li{
    width: 100%;
}

.resumos {
    background-image: -webkit-linear-gradient(to bottom,  #f9edd628 10%,  #00000000);
    background-image: -moz-linear-gradient(to bottom,  #f9edd628 10%,  #00000000);
    background-image: -ms-linear-gradient(to bottom,  #f9edd628 10%,  #00000000);
    background-image: linear-gradient(to bottom,  #f9edd628 10%,  #00000000);

    color: #fff;
    width: 100%;
}

.resumoMobile {
    display: flex;
}

.resumoItens {
    display: none;
}

.resumos hr {
    opacity: 1;
    width: 60%;
    height: 2px;
    background: #fff;
}

.resumos p {
    text-align: justify;
}

.logo {
    height: 100%;
}

.logo h1 {
    width: 100%;
    text-align: center;
    font-size: 3.3em;
}

.logo p {
    margin-bottom: 70px;
    width: 100%;
    text-align: center;
    font-size: .7em;
}

/* section nossos doces */

.nossosDoces h2 {
    font-size: 1.2em;
    font-weight: 500;
}

.nossosDoces p {
    width: 80%;
}

.nossosDocesImagens {
    flex-direction: column;
    align-items: center;
}

.nossosDocesImagens figure {
    width: 80%;
}

.nossosDocesImagens span {
    margin-bottom: 30px;
}

.carousel-cell {
    display: flex;
    align-items: center;
    height: 200px;
}

/* section serviços */

.servicos {
    margin: 80px 0 30px 0;
}

.servicosCartoes {
    flex-direction: column;
}

.servicosCartoes li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.servicosContainer {
    margin-bottom: 50px;
    width: 70%;
}