/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    animation: fadeIn .7s ease-in-out;
}

main {
    overflow: hidden;
}

/* keyframes */

@keyframes fadeIn {
    0% {opacity: 0;}
    100% { opacity: 1;}
}

/* menu principal */

.container {
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9edd699;
    -webkit-backdrop-filter: saturate(100%) blur(5px);
    -moz-backdrop-filter: saturate(100%) blur(5px);
    -ms-backdrop-filter: saturate(100%) blur(5px);
    backdrop-filter: saturate(100%) blur(5px);
    position: fixed;
    top: 0;
    z-index: 1;
}

.navigationMenu {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandMark {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 300;
    color: #8d503c;
    text-decoration: none;
}

#check {
    display: none;
}

.navTitulo {
    padding-bottom: 3px;
    font-size: 2.2em;
    font-weight: 200;
    line-height: 1;
}

.navTitulo span {
    font-weight: 600;
}

.brandMark hr {
    width: 200px;
    height: 1px;
    background: #8d503c;
    border: none;
}

.navSubTitulo {
    padding: 6px 0 6px 5px;
    font-size: .66em;
    letter-spacing: 2.6px;
    text-transform: uppercase;
}

.pageList {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pageList a{
    font-size: .85em;
    font-weight: 600;
    color: #8d503c;
    text-decoration: none;
    text-transform: uppercase;

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.pageList a:hover {
    color: #e2cba0;
}

/* INDEX */

/* section banner */

.banner {
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-bottom: solid 10px #f9edd6be;
}

.info {
    width: 80%;
    height: 50%;
    display: flex;
}

.negocio {
    justify-content: flex-start;
}

.quadroDeResumos {
    margin-top: 9em;
    width: 55%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.quadroDeResumos li {
    width: 32%;
    height: fit-content;
}

.resumoMobile {
    display: none;
}

.resumoItens {
    display: flex;
}

.resumos {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    border-radius: 15px;
    cursor: context-menu;

    background-color: rgba(249, 237, 214, 0);
    background-image: -webkit-linear-gradient(to top,  transparent 60%,  rgba(0, 0, 0, .3));
    background-image: -moz-linear-gradient(to top,  transparent 60%,  rgba(0, 0, 0, .3));
    background-image: -ms-linear-gradient(to top,  transparent 60%,  rgba(0, 0, 0, .3));
    background-image: linear-gradient(to top,  transparent 60%,  rgba(0, 0, 0, .3));

    -webkit-transform: perspective(100px) translateZ(0);
    -moz-transform: perspective(100px) translateZ(0);
    -ms-transform: perspective(100px) translateZ(0);
    transform: perspective(100px) translateZ(0);

    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out;
    transition: all .6s ease-in-out;
}

.resumos:hover {
    background-color: rgba(249, 237, 214, .6);
    color: #8d503c;
    
    -webkit-transform: perspective(100px) translateZ(3px);
    -moz-transform: perspective(100px) translateZ(3px);
    -ms-transform: perspective(100px) translateZ(3px);
    transform: perspective(100px) translateZ(3px);
}

.resumos h3 {
    margin-top: 15px;
    width: 80%;
    text-align: start;
}

.resumos p {
    margin-top: 15px;
    width: 80%;
    text-align: center;
}

.resumos hr {
    opacity: 0;
    margin: 20px 0;
    width: 0%;
    height: 1px;
    background: #8d503c;
    border: none;
    
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.resumos:hover hr {
    opacity: 1;
    width: 60%;
}

.logo {
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    color: #fff;
}

.logo h1 {
    font-size: 6em;
}

.logo p {
    margin-bottom: 170px;
    width: 50%;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 6px;
}

/* section nossos doces */

.nossosDoces {
    margin-bottom: 50px;
    width: 100%;
    height: fit-content;
}

.nossosDocesTexto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #8d503c;
}

.nossosDocesTexto h2 {
    margin: 2em 0 .5em 0;
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nossosDocesTexto P {
    width: 90%;
    text-align: center;
    line-height: 2em;
}

.nossosDocesImagens {
    margin: 2em auto;
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.nossosDocesImagens figure {
    width: 24%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #8d503c;
}

.nossosDocesImagens img {
    width: 90%;
    border-radius: 50%;
    
    -webkit-border: solid 10px #fceccf;
    -moz-border: solid 10px #fceccf;
    -ms-border: solid 10px #fceccf;
    border: solid 10px #fceccf;

    -webkit-transform: perspective(100px) translateZ(0);
    -moz-transform: perspective(100px) translateZ(0);
    -ms-transform: perspective(100px) translateZ(0);
    transform: perspective(100px) translateZ(0);

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.nossosDocesImagens img:hover {
    border: solid 10px #dac090e1;

    -webkit-transform: perspective(100px) translateZ(8px);
    -moz-transform: perspective(100px) translateZ(8px);
    -ms-transform: perspective(100px) translateZ(8px);
    transform: perspective(100px) translateZ(8px);
}

.nossosDocesImagens figcaption {
    margin: 2em auto;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .3em;
}

.nossosDocesImagens span {
    width: 80%;
    text-align: center;
}

/* section galeria */

.galeria {
    padding: 30px 0 30px 0;
    width: 100%;
    height: fit-content;
    background: #f9edd6;
}

.carousel-cell {
    margin-right: 10px;
    width: 80%; 
    height: 500px; 
    display: flex;
    align-items: center;
}

.carousel-cell img {
    width: 100%;
}

/* section servicos */

.servicos,
.servicosCartoes,
.servicosContainer {
    display: flex;
}

.servicos {
    margin: 80px 0;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.servicosCartoes {
    width: 90%;
    align-items: flex-start;
    justify-content: space-between;
}

.servicosCartoes li {
    width: 20%;
}

.servicosContainer {
    padding-bottom: 50px;
    width: 100%;
    height: 285px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background: #dabf8f17;
    border-radius: 15px;
    color: #8d503c;
    cursor: context-menu;

    background-image: -webkit-linear-gradient( 225deg,  #f8d89b1a, #dabf8f 90%);
    background-image: -moz-linear-gradient( 225deg, #f8d89b1a, #dabf8f 90%);
    background-image: -ms-linear-gradient( 225deg, #f8d89b1a, #dabf8f 90%);
    background-image: linear-gradient( 225deg, #f8d89b1a, #dabf8f 90%);

    -webkit-transform: perspective(100px) translateZ(0);
    -moz-transform: perspective(100px) translateZ(0);
    -ms-transform: perspective(100px) translateZ(0);
    transform: perspective(100px) translateZ(0);

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.servicosContainer:hover {
    background: #dabf8f;
    color: #fff;

    background-image: -webkit-linear-gradient( 225deg,  #f8d89b00, #dabf8f00 90%);
    background-image: -moz-linear-gradient( 225deg, #f8d89b00, #dabf8f00 90%);
    background-image: -ms-linear-gradient( 225deg, #f8d89b00, #dabf8f00 90%);
    background-image: linear-gradient( 225deg, #f8d89b00, #dabf8f00 90%);

    -webkit-transform: perspective(100px) translateZ(10px);
    -moz-transform: perspective(100px) translateZ(10px);
    -ms-transform: perspective(100px) translateZ(10px);
    transform: perspective(100px) translateZ(10px);
}

.servicosTitulo {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 5px #fff;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
}

.servicosTitulo h3 {
    margin-bottom: 30px;
    font-size: .9em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.servicosLogo {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 1px 6px rgba(65, 46, 21, 0.28);
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 50%;
    
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.servicosLogo img,
.sacola {
    width: 50%;
}

.sacola {
    margin-left: 10px;
}

.servicosCartoes p {
    width: 80%;
    text-align: center;
}

/* SOBRE */

.containerSobre,
.infoSobre {
    display: flex;
}

.containerSobre {
    margin: 6em auto 0 auto;
    padding: 4em 0;
    width: 70%;
    height: fit-content;
    flex-direction: column;
    color: #8d503c;
}

.containerSobre h2 {
    margin-bottom: 50px;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.infoSobre {
    align-items: flex-start;
    justify-content: space-between;
}

.quadroImgSobre {
    width: 50%;
    height: 500px;
    position: relative;
}

.textoSobre {
    width: 50%;
}

.textoSobre h3 {
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.textoSobre p {
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.8em;
}

.imgSobre {
    width: 42%;
    position: absolute;
    border-radius: 10px;

    -webkit-transform: perspective(100px) translateZ(0);
    -moz-transform: perspective(100px) translateZ(0);
    -ms-transform: perspective(100px) translateZ(0);
    transform: perspective(100px) translateZ(0);

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.imgSobre:hover {

    -webkit-transform: perspective(100px) translateZ(5px);
    -moz-transform: perspective(100px) translateZ(5px);
    -ms-transform: perspective(100px) translateZ(5px);
    transform: perspective(100px) translateZ(5px);
}

.img1 {
    top: 10px;
    left: 0;
}

.img2 {
    top: 0;
    left: 220px;
}

.img3 {
    top: 200px;
    left: 125px;
}

/* footer */

footer {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #f1e3c8, #ecd2a5, #d6a95c 135%);
    border-top: solid 10px #f9edd6;
}

.copyright {
    color: #8d503c;
}